.TitleContainer {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: rubik;
    font-size: 3.4rem;
    gap: .3rem;
    justify-content: center;
    opacity: 1 !important;
    position: relative;
}

.LogoContainer {
    width: 0 !important;
    opacity: 0 !important;
    height: 0 !important;

    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: .1rem;
    position: relative;
}

.Title {
    color: #00000000 !important;
    background-image: url(https://iili.io/Ks4RSyv.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 26rem !important;
    line-height: 5rem !important;
    background-size: 26rem !important;
    text-shadow: 0 0 #00000000 !important;
}